.snakemake
PitViper/trash
PitViper/resources
resources/
PitViper/config
data/
logs/
results/
PitViper/notebooks
PitViper/workflow/scripts/bagel-for*
PitViper/workflow/notebooks/.ipynb_checkpoints
__pycache__
PitViper/workflow/notebooks/archives/.ipynb_checkpoints
/PitViper/.log
/PitViper/workflow/notebooks/.log
/PitViper/workflow/notebooks/archives/Enrichment_plots.ipynb
/PitViper/workflow/notebooks/archives/Enrichr.ipynb
/PitViper/workflow/notebooks/archives/example_enrichment.txt
/PitViper/workflow/notebooks/archives/functions.py
/PitViper/workflow/notebooks/archives/Genes_Integration.py.ipynb
/PitViper/workflow/notebooks/Genes_Integration.py.ipynb
/PitViper/workflow/notebooks/archives/Rapport_final.ipynb
/PitViper/config/test_api.yaml
/test.txt
/PitViper/Rplots.pdf
/PitViper/workflow/notebooks/archives/Reports_Integration.py.ipynb
/PitViper/workflow/notebooks/archives/Reports_Integration.py.html
/PitViper/workflow/notebooks/archives/MAGeCK_MLE.py.ipynb
/docs/logo/logo PA.svg
/PitViper/config/sharon2019.yaml
*.bam
*.gz
*.bt2
benchmarks/
PitViper/.tests/unit/*
PitViper/workflow/envs/jupyter.yaml
