.snakemake
.vscode/
.github/
PitViper/resources
PitViper/config
PitViper/logs/
PitViper/results/
PitViper/notebooks/
PitViper/.tests/
PitViper/benchmarks/
PitViper/gui/__pycache__/
__pycache__/
PitViper/workflow/notebooks/.ipynb_checkpoints/
PitViper/workflow/scripts/bagel
PitViper/PitViper_reproducibility
PitViper/environment_freeze.yaml