<!DOCTYPE html>
<html>

<head>
    <title>Error Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <style>
        pre {
            font-family: Consolas, "courier new";
            color: hwb(348 5% 31%);
            background-color: #f1f1f1;
            padding: 25px;
            font-size: 105%;
        }
    </style>
</head>

<body>
    <div style="padding-left: 10%; padding-right: 10%;">
        <h1>An error occurred:</h1>
        <p>{{ error_message }}</p>

        <h2>Traceback:</h2>
        <pre>{{ traceback }}</pre>
    </div>
</body>

</html>