<!DOCTYPE html>
<html>

<head>
  <title>PitViper GUI</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type=text/css scoped>
    div#loading {
      margin: auto;
      width: 100px;
      height: 100px;
      display: none;
      background: url(/static/Hourglass.gif) no-repeat;
      cursor: wait;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <a class="navbar-brand" href="https://github.com/PaulArthurM/PitViper">PitViper GUI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/documentation" target="_blank"><i class="fa fa-book"></i> Documentation</a>
        <a class="nav-item nav-link" href="https://github.com/PaulArthurM/PitViper" target="_blank"><i
            class="fa fa-github"></i>
          Github</a>
      </div>
    </div>
  </nav>

  <div style="padding-left: 10%; padding-right: 10%;">
    <div class="paragraphs">
      <div class="row">
        <div class="span4 py-5 px-5">
          <img style="float:left" src="/static/pitviper_remastered.png" width="507" height="175" />
        </div </div>
      </div>

      <p class="py-3  px-5">Welcome to the PitViper graphical user-interface.</p>

      <p class="py-3  px-5"> PitViper is a bioinformatics pipeline built with Snakemake. It is intended to facilitate
        the analysis of functional screening data from various experiments (shRNA, CRISPR/Cas9 or CRISPR/dCas9).</p>
      <div id="content">
        <form action="/result" method="post" enctype="multipart/form-data" id="myForm">
          <div class="accordion  px-5" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  General settings
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                style="padding: 2em;">
                <p>This section allow to define some generals settings.</p>
                <div class="mb-3 required">
                  <label for="token" class="form-label">Name of the analysis:</label>
                  <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                    title="Help"
                    data-bs-content="Choose a short informative word or group of words that explain the analysis. Replace spaces by '_' symbol.">Help</a>
                  <input type="text" name="token" class="form-control" id="token" placeholder="eg. shRNA_analysis"
                    required>
                </div>
                <fieldset class="row mb-3">
                  <div class="mb-3" style="padding:0em;">
                    <legend class="col-form-label col-sm-2 ">Screen type:</legend>
                    <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                      title="Help" data-bs-content="Does your library contain gene symbols?">Help</a>
                  </div>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="screen_type" id="is_gene" value="is_gene"
                        onclick="updateOptionsVisibility()" checked>
                      <label class="form-check-label" for="is_gene">
                        Genes
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="screen_type" id="not_gene" value="not_gene"
                        onclick="updateOptionsVisibility()">
                      <label class="form-check-label" for="not_gene">
                        Not genes
                      </label>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="row mb-3">
                  <div class="mb-3" style="padding:0em;">
                    <legend class="col-form-label col-sm-2 pt-0">Starting file format:</legend>
                    <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                      title="Help" data-bs-content="What is the starting data format?">Help</a>
                  </div>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="start_from" id="fastq" value="fastq"
                        onclick="toggleCountTableField()" checked>
                      <label class="form-check-label" for="fastq">
                        FASTQ files
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="start_from" id="bam" value="bam"
                        onclick="toggleCountTableField()">
                      <label class="form-check-label" for="bam">
                        aligned BAM files
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="start_from" id="count" value="count"
                        onclick="toggleCountTableField()">
                      <label class="form-check-label" for="count">
                        Count tables
                      </label>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-2">Jobs to run in parallel:</legend>
                  <div class=" pb-3">
                    <input class="form-select" type="number" id="replyNumber" min="1" data-bind="value:replyNumber"
                      value=1 name='jobs' />
                  </div>
                </fieldset>
                <fieldset class="row mb-3">
                  <legend class="col-form-label pt-2">Remove sgRNA with all conditions with a median count
                    value below threshold:</legend>
                  <div class=" pb-3">
                    <input class="form-select" type="number" id="replyNumber" min="0" data-bind="value:replyNumber"
                      value=0 name='counts_threshold' />
                  </div>
                </fieldset>
              </div>
            </div>



            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Inputs
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                style="padding: 2em;">
                <fieldset class="row mb-3">
                  <div class="col-sm-10">
                    <div id="count_table_div" style="display: none;">
                      <div class="mb-3">
                        <label for="formFileSm" class="form-label">Count table</label>
                        <input class="form-control form-control-sm" id="count_table_file" name="count_table_file"
                          type="file">
                      </div>
                    </div>
                    <div id="tsv_div" style="display: block;">
                      <div class="mb-3">
                        <label for="formFileSm" class="form-label">Design file</label>
                        <input class="form-control form-control-sm" id="tsv_file" name="tsv_file" type="file" required>
                      </div>
                    </div>
                    <div id="library_div" style="display: block;">
                      <div class="mb-3">
                        <label for="formFileSm" class="form-label">Library (optional if starting from count
                          file)</label>
                        <input class="form-control form-control-sm" id="library_file" name="library_file" type="file">
                      </div>
                    </div>
                    <div id="controls_div" style="display: block;">
                      <div class="mb-3">
                        <label for="formFileSm" class="form-label">Controls guides (optional, but more than 100 guides
                          recommanded if selected)</label>
                        <input class="form-control form-control-sm" id="controls_file" name="controls_file" type="file">
                      </div>
                    </div>
                    <div id="bed_anno_div" style="display: none">
                      <div class="mb-3">
                        <label for="formFileSm" class="form-label">Optional - Elements coordinates (BED file)</label>
                        <input class="form-control form-control-sm" id="bed_anno_file" name="bed_anno_file" type="file">
                        <div style="padding-left: 5%;">
                          <legend class="col-form-label col-sm-2 pt-2">Genome version:</legend>
                          <div class=" pb-3">
                            <select class="form-select" label="genome_version_rose" name="genome_version_rose">
                              <option value="HG38" selected>HG38</option>
                              <option value="HG18">HG18</option>
                              <option value="HG19">HG19</option>
                              <option value="MM10">MM10</option>
                              <option value="MM9">MM9</option>
                              <option value="MM8">MM8</option>
                            </select>
                          </div>
                        </div>
                      </div>
                </fieldset>
              </div>
            </div>



            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Tools
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                style="padding: 2em;">

                <div id="bowtie">
                  <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0 text-primary">Bowtie2</legend>
                    <div class="col-sm-10">
                      <div class="form-check form-switch">
                        <input type='checkbox' value='True' id='bowtie_activate' name='bowtie_activate'
                          class="form-check-input" onclick="toggleDivVisibility('bowtie2_options', 'bowtie_activate')">
                        <input type='hidden' value='False' id='bowtie_activate' name='bowtie_activate'
                          class="form-check-input" onclick="toggleDivVisibility('bowtie2_options', 'bowtie_activate')">
                        <label class="form-check-label" for="bowtie_activate">Activate (use Bowtie2 for reads alignment
                          prior to MAGeCK count)</label>
                      </div>
                      <div id="bowtie2_options" style="display: none;">
                        <legend class="col-form-label col-sm-2 pt-2">Length of 5' adapter:</legend>
                        <div class=" pb-3">
                          <input class="form-select" type="number" id="replyNumber" min="0"
                            data-bind="value:replyNumber" value=20 name='length_5_adapter' />
                        </div>
                        <legend class="col-form-label col-sm-2 pt-2">Length of 3' adapter:</legend>
                        <div class=" pb-3">
                          <input class="form-select" type="number" id="replyNumber" min="0"
                            data-bind="value:replyNumber" value=10 name='length_3_adapter' />
                        </div>
                        <legend class="col-form-label col-sm-2 pt-2">Mapping method:</legend>
                        <div class=" pb-3">
                          <select class="form-select" label="Bowtie2 mapping method" name="bowtie_mapping_method">
                            <option selected>Open this select menu</option>
                            <option value="--sensitive" selected>sensitive</option>
                            <option value="--fast">fast</option>
                            <option value="--very-fast">very-fast</option>
                            <option value="--very-sensitive">very-sensitive</option>
                          </select>
                        </div>
                        <p style="padding: 1em;"> Reference: <a
                            href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3322381/"
                            class="link-primary text-dark">Bowtie2 article</a></p>
                      </div>
                  </fieldset>
                </div>

                <div id="MAGeCK_count">
                  <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0 text-primary">MAGeCK count</legend>
                    <div class="col-sm-10">
                      <legend class="col-form-label col-sm-2 pt-2">Normalization method:</legend>
                      <div class=" pb-3">
                        <select class="form-select" label="Normalization method" name="mageck_count_normalization">
                          <option selected>Open this select menu</option>
                          <option value="total" selected>total</option>
                          <option value="median">median</option>
                          <option value="control">control</option>
                          <option value="none">none</option>
                        </select>
                      </div>

                      <legend class="col-form-label col-sm-2 pt-2">Length of the sgRNA:</legend>
                      <div class=" pb-3">
                        <input class="form-select" type="number" id="replyNumber" min="0" data-bind="value:replyNumber"
                          value=20 name='mageck_count_length' />
                      </div>
                      <!-- --count-pair -->
                      <legend class="col-form-label col-sm-2 pt-2">Report all valid alignments per read or pair?
                      </legend>
                      <div class="form-check form-switch pb-3">
                        <label class="form-check-label" for="count_pair">Activate</label>
                        <input type='checkbox' value='True' name='mageck_count_all_align' class="form-check-input">
                        <input type='hidden' value='False' name='mageck_count_all_align' class="form-check-input">
                      </div>
                      <!-- --count-n -->
                      <legend class="col-form-label col-sm-2 pt-2">Count sgRNAs with Ns?</legend>
                      <div class="form-check form-switch pb-3" style="display:flex; align-items: center">
                        <input type='checkbox' value='True' name='mageck_count_N' class="form-check-input"
                          style="margin-right: 1em;">
                        <input type='hidden' value='False' name='mageck_count_N' class="form-check-input"
                          style="margin-right: 1em;">
                        <label class="form-check-label" for="mageck_count_N"> Activate</label>
                        <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="By default, sgRNAs containing N
                        will be discarded.">Help</a>
                      </div>

                      <!-- --reverse-complement -->
                      <legend class="col-form-label col-sm-2 pt-2">Reverse complement the sequences in library for read
                        mapping?</legend>
                      <div class="form-check form-switch pb-3" style="display:flex; align-items: center">
                        <input type='checkbox' value='True' name='mageck_count_rev_comp' class="form-check-input"
                          style="margin-right: 1em;">
                        <input type='hidden' value='False' name='mageck_count_rev_comp' class="form-check-input"
                          style="margin-right: 1em;">
                        <label class="form-check-label" for="mageck_count_rev_comp"> Activate</label>
                      </div>

                      <p style="padding: 1em;"> Reference: <a
                          href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-015-0843-6"
                          class="link-primary text-dark">MAGeCK article</a></p>
                    </div>
                  </fieldset>
                </div>


                <!-- MLE -->
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0 text-primary">MAGeCK MLE</legend>
                  <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input type='checkbox' value='True' name='mageck_mle_activate' id='mageck_mle_activate'
                        class="form-check-input"
                        onclick="toggleDivVisibility('mageck_mle_options', 'mageck_mle_activate')">
                      <input type='hidden' value='False' name='mageck_mle_activate' id='mageck_mle_activate'
                        class="form-check-input"
                        onclick="toggleDivVisibility('mageck_mle_options', 'mageck_mle_activate')">
                      <label class="form-check-label" for="mageck_mle_activate">Activate</label>
                    </div>
                    <div id="mageck_mle_options" style="display: none;">
                      <legend class="col-form-label col-sm-2 pt-3">Normalization method</legend>
                      <select class="form-select" label="Normalization method" name="mageck_mle_normalization">
                        <option selected>Open this select menu</option>
                        <option value="total" selected>Total</option>
                        <option value="median">Median</option>
                        <option value="control">Control</option>
                        <option value="none">None</option>
                      </select>
                      <legend class="col-form-label col-sm-10 pt-3">The number of genes for mean-variance modeling:
                      </legend>
                      <input class="form-select" type="number" id="replyNumber" min="0" data-bind="value:replyNumber"
                        value=0 name="mageck_mle_mean_var" />
                      <!-- permutation-round -->
                      <legend class="col-form-label col-sm-4 pt-3">The rounds for permutation. <a tabindex="0"
                          class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                          title="Help" data-bs-content="The permutation
                          time is (# genes)*x for x rounds of permutation.
                          Suggested value: 10 (may take longer time). Default 2.">Help</a></legend>
                      <input class="form-select" type="number" id="replyNumber" min="0" data-bind="value:replyNumber"
                        value=2 name="mageck_mle_perm_N" />
                      <!-- --no-permutation-by-group -->
                      <legend class="col-form-label col-sm-2 pt-3">Perform permutation on all genes together?</legend>
                      <div class="form-check form-switch" style="display:flex; align-items: center">
                        <input type='checkbox' value='True' name='mageck_mle_perm_all' class="form-check-input"
                          style="margin-right: 1em;">
                        <input type='hidden' value='False' name='mageck_mle_perm_all' class="form-check-input"
                          style="margin-right: 1em;">
                        <label class="form-check-label" for="mageck_mle_perm_all"> Activate</label>
                        <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="By default, gene permutation is performed separately,
                          by their number of sgRNAs. Turning this option will
                          perform permutation on all genes together. This makes
                          the program faster, but the p value estimation is
                          accurate only if the number of sgRNAs per gene is
                          approximately the same.">Help</a>
                      </div>
                      <!-- --remove-outliers -->
                      <legend class="col-form-label col-sm-2 pt-3">Try to remove outliers?</legend>
                      <div class="form-check form-switch" style="display:flex; align-items: center">
                        <input type='checkbox' value='True' name='mageck_mle_outliers' class="form-check-input"
                          style="margin-right: 1em;">
                        <input type='hidden' value='False' name='mageck_mle_outliers' class="form-check-input"
                          style="margin-right: 1em;">
                        <label class="form-check-label" for="mageck_mle_outliers"> Activate</label>
                        <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="Try to remove outliers. Turning this option on will
                          slow the algorithm.">Help</a>
                      </div>
                      <!-- adjust-method -->
                      <legend class="col-form-label col-sm-10 pt-3">Method for sgrna-level p-value adjustment: <a
                          tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="Method for sgrna-level p-value adjustment, including
                            false discovery rate (fdr), holm's method (holm), or
                            pounds's method (pounds).">Help
                        </a></legend>
                      <select class="form-select" label="sgrna-level p-value ajustement" name="mageck_mle_adj">
                        <option selected>Open this select menu</option>
                        <option value="fdr" selected>FDR</option>
                        <option value="holm">Holm</option>
                        <option value="pounds">Pounds</option>
                      </select>
                      <!-- use control neg-->
                      <legend class="col-form-label col-sm-10 pt-3">Use control negative guides to estimate the
                        background? <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help"
                          data-bs-content="Boolean variable to use control negative guides to estimate the background if available.">Help
                        </a></legend>
                      <select class="form-select" label="mageck_mle_control_neg" name="mageck_mle_control_neg">
                        <option selected>Open this select menu</option>
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                      </select>
                    </div>
                    <p style="padding: 1em;"> Reference: <a
                        href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-015-0843-6"
                        class="link-primary text-dark">MAGeCK MLE article</a></p>
                  </div>
                </fieldset>
                <!-- MLE -->



                <!-- RRA -->
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0 text-primary">MAGeCK RRA</legend>
                  <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="mageck_rra_activate"
                        name="mageck_rra_activate" value="True"
                        onclick="toggleDivVisibility('mageck_rra_options', 'mageck_rra_activate')">
                      <input class="form-check-input" type="hidden" id="mageck_rra_activate" name="mageck_rra_activate"
                        value="False" onclick="toggleDivVisibility('mageck_rra_options', 'mageck_rra_activate')">
                      <label class="form-check-label" for="mageck_rra_activate">Activate</label>
                    </div>
                    <div id="mageck_rra_options" style="display: none;">
                      <!-- norm-method -->
                      <legend class="col-form-label col-sm-10 pt-3">Normalization method: <a tabindex="0"
                          class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                          title="Help"
                          data-bs-content="Method for normalization, including 'none' (no normalization), 'median' (median normalization, default), 'total' (normalization by total read counts), 'control' (normalization by control sgRNAs specified by the --control-sgrna option).">Help
                        </a></legend>
                      <select class="form-select" label="mageck_rra_normalization" name="mageck_rra_normalization">
                        <option selected>Open this select menu</option>
                        <option value="total" selected>Total</option>
                        <option value="none">None</option>
                        <option value="median">Median</option>
                        <option value="control">Control</option>
                      </select>
                      <!-- adjust-method -->
                      <legend class="col-form-label col-sm-10 pt-3">Method for sgrna-level p-value adjustment: <a
                          tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="Method for sgrna-level p-value adjustment, including
                      false discovery rate (fdr), holm's method (holm), or
                      pounds's method (pounds).">Help
                        </a></legend>
                      <select class="form-select" label="sgrna-level p-value ajustement" name="mageck_rra_adj">
                        <option selected>Open this select menu</option>
                        <option value="fdr" selected>FDR</option>
                        <option value="holm">Holm</option>
                        <option value="pounds">Pounds</option>
                      </select>
                      <!-- --gene-test-fdr-threshold -->
                      <legend class="col-form-label col-sm-4 pt-3">P-value threshold: <a tabindex="0"
                          class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                          title="Help" data-bs-content="p value threshold to determine the alpha value of RRA
                      in gene test (-p option in RRA), default 0.25.">Help</a></legend>
                      <div style="display:flex; align-items: center">
                        <input class="form-select" type="number" id="replyNumber" min="0" max="1" step="0.01"
                          data-bind="value:replyNumber" value=0.25 name="mageck_rra_pthreshold" />
                      </div>
                      <!-- sort-criteria -->
                      <legend class="col-form-label col-sm-10 pt-3">Sorting criteria: <a tabindex="0"
                          class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                          title="Help" data-bs-content="Sorting criteria, either by negative selection (neg)
                      or positive selection (pos). Default negative
                      selection.">Help
                        </a></legend>
                      <select class="form-select" label="mageck_rra_criteria" name="mageck_rra_criteria">
                        <option selected>Open this select menu</option>
                        <option value="neg" selected>Negative</option>
                        <option value="pos">Positive</option>
                      </select>
                      <!-- --remove-zero -->
                      <legend class="col-form-label col-sm-10 pt-3">Remove sgRNAs whose mean value is zero in control
                        or/and treatment: <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="Remove sgRNAs whose mean value is zero in control,
                      treatment, both control/treatment, or any
                      control/treatment sample. Default: both (remove those
                      sgRNAs that are zero in both control and treatment
                      samples).">Help
                        </a></legend>
                      <select class="form-select" label="mageck_rra_remove" name="mageck_rra_remove">
                        <option selected>Open this select menu</option>
                        <option value="both" selected>Both</option>
                        <option value="control">Control</option>
                        <option value="treatment">Treatment</option>
                        <option value="any">Any</option>
                        <option value="none">None</option>
                      </select>
                      <!-- --remove-zero-threshold -->
                      <legend class="col-form-label col-sm-4 pt-3">sgRNA normalized count threshold to be considered
                        removed: <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="sgRNA normalized count threshold to be considered
                      removed in the --remove-zero option. Default 0.">Help</a></legend>
                      <div style="display:flex; align-items: center">
                        <input class="form-select" type="number" id="replyNumber" min="0" step="1"
                          data-bind="value:replyNumber" value=0 name="mageck_rra_count_min" />
                      </div>
                      <!-- --gene-lfc-method -->
                      <legend class="col-form-label col-sm-10 pt-3">Method to calculate gene log fold changes (LFC) from
                        sgRNA LFCs. <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="Method to calculate gene log fold changes (LFC) from
                      sgRNA LFCs. Available methods include the median/mean
                      of all sgRNAs (median/mean), or the median/mean sgRNAs
                      that are ranked in front of the alpha cutoff in RRA
                      (alphamedian/alphamean), or the sgRNA that has the
                      second strongest LFC (secondbest). In the
                      alphamedian/alphamean case, the number of sgRNAs
                      correspond to the 'goodsgrna' column in the output,
                      and the gene LFC will be set to 0 if no sgRNA is in
                      front of the alpha cutoff. Default median.">Help
                        </a></legend>
                      <select class="form-select" label="mageck_rra_LFC" name="mageck_rra_LFC">
                        <option selected>Open this select menu</option>
                        <option value="median" selected>Median</option>
                        <option value="alphamedian">Alpha median</option>
                        <option value="mean">Mean</option>
                        <option value="alphamean">Alpha mean</option>
                        <option value="secondbest">Second best</option>
                      </select>
                      <!-- use control neg-->
                      <legend class="col-form-label col-sm-10 pt-3">Use control negative guides to estimate the
                        background? <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help"
                          data-bs-content="Boolean variable to use control negative guides to estimate the background if available.">Help
                        </a></legend>
                      <select class="form-select" label="mageck_rra_control_neg" name="mageck_rra_control_neg">
                        <option selected>Open this select menu</option>
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                      </select>
                    </div>
                    <p style="padding: 1em;"> Reference: <a
                        href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-014-0554-4"
                        class="link-primary text-dark">MAGeCK RRA article</a></p>
                  </div>
                </fieldset>


                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0 text-primary">CRISPhieRmix</legend>
                  <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="crisphiermix_activate" ,
                        name="crisphiermix_activate" value="True"
                        onclick="toggleDivVisibility('crisphiermix_options', 'crisphiermix_activate')">
                      <input class="form-check-input" type="hidden" id="crisphiermix_activate" ,
                        name="crisphiermix_activate" value="False"
                        onclick="toggleDivVisibility('crisphiermix_options', 'crisphiermix_activate')">
                      <label class="form-check-label" for="crisphiermix_activate">Activate</label>
                    </div>
                    <div id="crisphiermix_options" style="display: none;">
                      <!-- --bimodal -->
                      <legend class="col-form-label col-sm-10 pt-3">Fit a bimodal alternative distribution? <a
                          tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help"
                          data-bs-content="Boolean variable to fit a bimodal alternative distribution for the case when both directions are of interest.">Help
                        </a></legend>
                      <select class="form-select" label="crisphiermix_bimodal" name="crisphiermix_bimodal">
                        <option selected>Open this select menu</option>
                        <option value="False" selected>False</option>
                        <option value="True">True</option>
                      </select>
                      <!-- mu -->
                      <legend class="col-form-label col-sm-4 pt-3">Initial value of mu for the interesting genes: <a
                          tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help"
                          data-bs-content="Initial value of mu for the interesting genes. Default = -4">Help</a>
                      </legend>
                      <div style="display:flex; align-items: center">
                        <input class="form-select" type="number" id="replyNumber" data-bind="value:replyNumber" value=-4
                          name="crisphiermix_mu" />
                      </div>
                      <!-- top -->
                      <legend class="col-form-label col-sm-4 pt-3">Top-N of guides to consider in log<sub>2</sub>(Fold
                        Change) calculation: <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help" data-bs-content="If N >= 1, consider top-N of guides, ranked by abs(log<sub>2</sub>(Fold
                          Change)). If N < 1, consider the top-N fraction of guides. Default = 3">Help</a>
                      </legend>
                      <div style="display:flex; align-items: center">
                        <input class="form-select" type="number" id="replyNumber" data-bind="value:replyNumber" value=3
                          name="crisphiermix_top" />
                      </div>
                      <!-- screen type -->
                      <legend class="col-form-label col-sm-10 pt-3">Screen type: <a tabindex="0" class="btn btn-link"
                          role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Help" data-bs-content="Acceptable options are 'GOF' for gain of function screens (mu>0) or 'LOF' for
                      loss of function screens.">Help
                        </a></legend>
                      <select class="form-select" label="crisphiermix_type" name="crisphiermix_type">
                        <option selected>Open this select menu</option>
                        <option value="LOF" selected>Loss Of Function</option>
                        <option value="GOF">Gain Of Function</option>
                      </select>
                      <!-- use control neg-->
                      <legend class="col-form-label col-sm-10 pt-3">Use control negative guides to estimate the
                        background? <a tabindex="0" class="btn btn-link" role="button" data-bs-toggle="popover"
                          data-bs-trigger="focus" title="Help"
                          data-bs-content="Boolean variable to use control negative guides to estimate the background if available.">Help
                        </a></legend>
                      <select class="form-select" label="crisphiermix_control_neg" name="crisphiermix_control_neg">
                        <option selected>Open this select menu</option>
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                      </select>
                    </div>
                    <p style="padding: 1em;"> Reference: <a
                        href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-018-1538-6"
                        class="link-primary text-dark">CRISPhieRmix article</a></p>
                </fieldset>


                <div id="BAGEL_div">
                  <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0 text-primary">BAGEL2</legend>
                    <div class="col-sm-10">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="bagel_activate" , name="bagel_activate"
                          value=True onclick="toggleBagelOptions()">
                        <input class="form-check-input" type="hidden" id="bagel_activate" , name="bagel_activate"
                          value=False onclick="toggleBagelOptions()">
                        <label class="form-check-label" for="bagel_activate">Activate</label>
                      </div>
                      <div id="bagel_options" style="display: none;">
                        <div class="mb-3">
                          <label for="essentials" class="form-label">Essential genes</label>
                          <input class="form-control form-control-sm" id="essentials" name="essentials" type="file">
                        </div>
                        <div class="mb-3">
                          <label for="nonessentials" class="form-label">Nonessential genes</label>
                          <input class="form-control form-control-sm" id="nonessentials" name="nonessentials"
                            type="file">
                        </div>
                      </div>
                      <p style="padding: 1em;"> Reference: <a
                          href="https://genomemedicine.biomedcentral.com/articles/10.1186/s13073-020-00809-3"
                          class="link-primary text-dark">BAGEL2 article</a></p>
                    </div>
                  </fieldset>
                </div>

                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0 text-primary">Directional Scoring Method:</legend>
                  <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="directional_scoring_method_activate" ,
                        name="directional_scoring_method_activate" value="True"
                        onclick="toggleDivVisibility('directional_scoring_method_options', 'directional_scoring_method_activate')">
                      <input class="form-check-input" type="hidden" id="directional_scoring_method_activate" ,
                        name="directional_scoring_method_activate" value="False"
                        onclick="toggleDivVisibility('directional_scoring_method_options', 'directional_scoring_method_activate')">
                      <label class="form-check-label" for="directional_scoring_method_activate">Activate</label>
                    </div>
                    <div id="directional_scoring_method_options" style="display: none;">
                      <!-- guide-fdr-threshold -->
                      <legend class="col-form-label col-sm-4 pt-3">FDR threshold: <a tabindex="0" class="btn btn-link"
                          role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Help"
                          data-bs-content="Keep guides with FDR value below this threshold (default 0.25).">Help</a>
                      </legend>
                      <div style="display:flex; align-items: center">
                        <input class="form-select" type="number" id="replyNumber" min="0" max="1" step="0.01"
                          data-bind="value:replyNumber" value=0.25 name="directional_scoring_method_fdr_threshold" />
                      </div>
                      <!-- guide-log2-threshold -->
                      <legend class="col-form-label col-sm-4 pt-3">Absolute log2 fold-change threshold: <a tabindex="0"
                          class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                          title="Help"
                          data-bs-content="Keep guides with absolute log2 value above this threshold (default 1).">Help</a>
                      </legend>
                      <div style="display:flex; align-items: center">
                        <input class="form-select" type="number" id="replyNumber" min="0" step="0.01"
                          data-bind="value:replyNumber" value=1 name="directional_scoring_method_log2_threshold" />
                      </div>
                      <!-- guides-threshold -->
                      <legend class="col-form-label col-sm-4 pt-3">Guides threshold: <a tabindex="0"
                          class="btn btn-link" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                          title="Help"
                          data-bs-content="Minimum number of guides moving in the same direction to keep targeted element.">Help</a>
                      </legend>
                      <div style="display:flex; align-items: center">
                        <input class="form-select" type="number" id="replyNumber" min="1" step="1"
                          data-bind="value:replyNumber" value=2 name="directional_scoring_method_guides_threshold" />
                      </div>
                    </div>
                  </div>
                </fieldset>


                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0 text-primary">SSREA</legend>
                  <div class="col-sm-10">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="ssrea_activate" , name="ssrea_activate"
                        value="True" onclick="toggleDivVisibility('ssrea_options', 'ssrea_activate')">
                      <input class="form-check-input" type="hidden" id="ssrea_activate" , name="ssrea_activate"
                        value="False" onclick="toggleDivVisibility('ssrea_options', 'ssrea_activate')">
                      <label class="form-check-label" for="ssrea_activate">Activate</label>
                    </div>
                    <!-- <div id="ssrea_options" style="display: none;">
                      <legend class="col-form-label col-sm-10 pt-3">Ranking method: <a tabindex="0" class="btn btn-link"
                          role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Help"
                          data-bs-content="Signal-to-Noise ratio can be used only if there is at least three replicates by sample.">Help
                        </a></legend>
                      <select class="form-select" label="ssrea_ranking_method" name="ssrea_ranking_method">
                        <option selected>Open this select menu</option>
                        <option value="signal_to_noise" selected>Signal-to-Noise</option>
                        <option value="fold_change">Fold-change</option>
                      </select>
                    </div> -->
                    <div id="ssrea_options" style="display: none;">
                      <legend class="col-form-label col-sm-10 pt-3">Ranking method: <a tabindex="0" class="btn btn-link"
                          role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Help"
                          data-bs-content="Signal-to-Noise ratio can be used only if there is at least three replicates per sample.">Help
                        </a></legend>
                      <select class="form-select" id="ssrea_ranking_method" name="ssrea_ranking_method"
                        onchange="checkSelection()">
                        <option selected>Open this select menu</option>
                        <option value="signal_to_noise">Signal-to-Noise</option>
                        <option value="fold_change" selected>Fold-change</option>
                      </select>
                      <!-- Warning message, initially hidden -->
                      <div id="warningMessage" style="display: none; color: red;">
                        <p>Warning: If the number of replicates per condition is not higher than 2, the Fold-Change
                          method will be automatically used.</p>
                      </div>
                    </div>
                    <p style="padding: 1em;"> Reference: <a href="https://www.pnas.org/content/102/43/15545"
                        class="link-primary text-dark">Original GSEA article</a> and <a
                        href="https://www.biorxiv.org/content/10.1101/060012v3" class="link-primary text-dark">fGSEA
                        preprint</a></p>
                  </div>
                </fieldset>
              </div>
            </div>

            <input class="btn btn-success  mx-5" type="submit" value="Run PitViper" , style="margin: 1em;"
              onclick="showLoading();"></input>
        </form>
      </div>
    </div>
    <div id="loading"></div>
    <script>
      function updateOptionsVisibility() {
        /* Show or hide the options for the selected method */

        // Get the checkbox
        const isGeneCheckbox = document.getElementById("is_gene");
        const isGene = isGeneCheckbox.checked;

        // Get display style for the div based on the checkbox value (true or false)
        const displayStyle = isGene ? "block" : "none";

        // Set the display style for the div, based on the checkbox value, to show or hide it (block or none)
        document.getElementById('BAGEL_div').style.display = displayStyle;

        // If the checkbox is not checked, show the div for the BED file
        if (!isGene) {
          document.getElementById("bed_anno_div").style.display = "block";
          document.getElementById("bagel_activate").checked = false;
          document.getElementById("essentials").required = false;
          document.getElementById("nonessentials").required = false;
        } else {
          document.getElementById("bed_anno_div").style.display = "none";
        }
      }


      function toggleDivVisibility(divId, buttonId) {
        const button = document.getElementById(buttonId);
        const div = document.getElementById(divId);
        const displayStyle = button.checked ? "block" : "none";
        div.style.display = displayStyle;
      }


      function toggleBagelOptions() {
        const bagelActivateCheckbox = document.getElementById("bagel_activate");
        const showOptions = bagelActivateCheckbox.checked;

        const displayStyle = showOptions ? "block" : "none";
        const required = showOptions;

        document.getElementById("bagel_options").style.display = displayStyle;
        document.getElementById("essentials").required = required;
        document.getElementById("nonessentials").required = required;
      }


      function toggleCountTableField() {
        const countRadio = document.getElementById("count");
        const bamRadio = document.getElementById("bam");
        const bowtieActivateCheckbox = document.getElementById("bowtie_activate");

        let countTableDisplayStyle = "none";
        let mageckCountDisplayStyle = "block";
        let isCountTableRequired = false;

        if (countRadio.checked) {
          countTableDisplayStyle = "block";
          mageckCountDisplayStyle = "none";
          isCountTableRequired = true;
        }

        if (bamRadio.checked) {
          bowtieActivateCheckbox.disabled = true;
        } else {
          bowtieActivateCheckbox.disabled = false;
        }

        document.getElementById("count_table_div").style.display = countTableDisplayStyle;
        document.getElementById("count_table_file").required = isCountTableRequired;
        document.getElementById("MAGeCK_count").style.display = mageckCountDisplayStyle;
        document.getElementById("bowtie").style.display = mageckCountDisplayStyle;
      }

      // function that return true if atleast one checkbox is checked
      function atleastOneChecked() {
        var checked = false;
        const checkboxes = [];
        checkboxes.push(
          document.getElementById('ssrea_activate'),
          document.getElementById('mageck_mle_activate'),
          document.getElementById('mageck_rra_activate'),
          document.getElementById('bagel_activate'),
          document.getElementById('crisphiermix_activate'),
          document.getElementById('directional_scoring_method_activate'));
        for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].checked) {
            checked = true;
            break;
          }
        }
        return checked;
      }


      function showLoading() {
        const form = document.querySelector('#myForm');

        form.addEventListener('submit', (event) => {
          var checked = atleastOneChecked();
          if (!checked) {
            window.alert("Choose at least one analysis method.");
          }
          // Use the Bootstrap validation API to check the form's validity
          if (!form.checkValidity() || !checked) {
            event.preventDefault(); // Prevent the form from submitting if it is invalid
            event.stopPropagation(); // Stop the event from propagating up the DOM tree
            return;
          }

          // If validation passes, submit the form
          form.submit();
          document.getElementById("loading").style.display = "block";
          document.getElementById("content").style.display = "none";
        });
      }

      function checkSelection() {
        var method = document.getElementById("ssrea_ranking_method").value;
        var warningDiv = document.getElementById("warningMessage");
        // Display the warning if Signal-to-Noise is selected
        if (method === "signal_to_noise") {
          warningDiv.style.display = "block";
        } else {
          warningDiv.style.display = "none";
        }
      }

    </script>

</body>

<script type="text/javascript">
  var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
</script>

</html>